@import "../../global.scss";

.testimonials{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 90px;
        color: rgb(53, 146, 17);
    }

    .card{
        width: 90%;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2%;
    }

    a{
        display: flex;
        padding-bottom: 7px;
        align-items: center;
        font-size: 80px;
        text-decoration: none;
        background-color: rgb(41, 116, 12);
        border-radius: 20%;
        color: whitesmoke;
    }

    a:hover {
        color: rgb(3, 182, 113);
    }
}