@import "../../global.scss";

.works{
    background-color: black;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;


    h1{
        font-size: 70px;
        margin-top: 150px;
        margin-right: 50px;
        color: rgb(4, 134, 59);
    }

    .card{
        width: 70%;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5%;
    }

    p{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 186px;
        margin-left: 60px;
    }

    
}